{"openapi":"3.0.0","info":{"title":"Steadybit Platform API","description":"This API allows the creation, start and stopping of experiments and triggering the killswitch","contact":{"name":"Steadybit GmbH","url":"https://steadybit.com","email":"support@steadybit.com"},"version":"0.0.1"},"servers":[{"url":"https://platform.steadybit.io","description":"Generated server url"}],"security":[{"AccessToken":[]}],"tags":[{"name":"Experiments"},{"name":"Environments"},{"name":"Service State"},{"name":"Audit Log"},{"name":"Teams"},{"name":"Service Definitions"},{"name":"Killswitch"},{"name":"Policy Definitions"},{"name":"Task Definitions"}],"paths":{"/api/teams/{key}/members":{"get":{"tags":["Teams"],"summary":"get team members","operationId":"getTeamMembers","parameters":[{"name":"key","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"404":{"description":"Team not found","content":{"application/vnd.steadybit.api.v1+json":{"schema":{"$ref":"#/components/schemas/TeamMembersAO"}},"application/json":{"schema":{"$ref":"#/components/schemas/TeamMembersAO"}},"application/vnd.steadybit.api.v1+x-yaml":{"schema":{"$ref":"#/components/schemas/TeamMembersAO"}},"application/x-yaml":{"schema":{"$ref":"#/components/schemas/TeamMembersAO"}}}},"200":{"description":"OK","content":{"application/vnd.steadybit.api.v1+json":{"schema":{"$ref":"#/components/schemas/TeamMembersAO"}},"application/json":{"schema":{"$ref":"#/components/schemas/TeamMembersAO"}},"application/vnd.steadybit.api.v1+x-yaml":{"schema":{"$ref":"#/components/schemas/TeamMembersAO"}},"application/x-yaml":{"schema":{"$ref":"#/components/schemas/TeamMembersAO"}}}}}},"put":{"tags":["Teams"],"summary":"set team members","operationId":"setTeamMembers","parameters":[{"name":"key","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TeamMembersAO"}}},"required":true},"responses":{"422":{"description":"Validation error","content":{"application/vnd.steadybit.api.v1+json":{"schema":{"$ref":"#/components/schemas/TeamMembersAO"}},"application/json":{"schema":{"$ref":"#/components/schemas/TeamMembersAO"}},"application/vnd.steadybit.api.v1+x-yaml":{"schema":{"$ref":"#/components/schemas/TeamMembersAO"}},"application/x-yaml":{"schema":{"$ref":"#/components/schemas/TeamMembersAO"}}}},"200":{"description":"Team members set","content":{"application/vnd.steadybit.api.v1+json":{"schema":{"$ref":"#/components/schemas/TeamMembersAO"}},"application/json":{"schema":{"$ref":"#/components/schemas/TeamMembersAO"}},"application/vnd.steadybit.api.v1+x-yaml":{"schema":{"$ref":"#/components/schemas/TeamMembersAO"}},"application/x-yaml":{"schema":{"$ref":"#/components/schemas/TeamMembersAO"}}}}}}},"/api/service-definitions/{id}":{"get":{"tags":["Service Definitions"],"summary":"get service definition","operationId":"getServiceDefinition","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"application/vnd.steadybit.api.v1+json":{"schema":{"$ref":"#/components/schemas/ServiceDefinitionAO"}},"application/json":{"schema":{"$ref":"#/components/schemas/ServiceDefinitionAO"}},"application/vnd.steadybit.api.v1+x-yaml":{"schema":{"$ref":"#/components/schemas/ServiceDefinitionAO"}},"application/x-yaml":{"schema":{"$ref":"#/components/schemas/ServiceDefinitionAO"}}}},"404":{"description":"Not Found","content":{"application/vnd.steadybit.api.v1+json":{"schema":{"$ref":"#/components/schemas/ServiceDefinitionAO"}},"application/json":{"schema":{"$ref":"#/components/schemas/ServiceDefinitionAO"}},"application/vnd.steadybit.api.v1+x-yaml":{"schema":{"$ref":"#/components/schemas/ServiceDefinitionAO"}},"application/x-yaml":{"schema":{"$ref":"#/components/schemas/ServiceDefinitionAO"}}}}}},"put":{"tags":["Service Definitions"],"summary":"define service","operationId":"defineService","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ServiceDefinitionAO"}}},"required":true},"responses":{"422":{"description":"Validation failure","content":{"application/vnd.steadybit.api.v1+json":{"schema":{"$ref":"#/components/schemas/ServiceDefinitionAO"}},"application/json":{"schema":{"$ref":"#/components/schemas/ServiceDefinitionAO"}},"application/vnd.steadybit.api.v1+x-yaml":{"schema":{"$ref":"#/components/schemas/ServiceDefinitionAO"}},"application/x-yaml":{"schema":{"$ref":"#/components/schemas/ServiceDefinitionAO"}}}},"409":{"description":"Conflict","content":{"application/vnd.steadybit.api.v1+json":{"schema":{"$ref":"#/components/schemas/ServiceDefinitionAO"}},"application/json":{"schema":{"$ref":"#/components/schemas/ServiceDefinitionAO"}},"application/vnd.steadybit.api.v1+x-yaml":{"schema":{"$ref":"#/components/schemas/ServiceDefinitionAO"}},"application/x-yaml":{"schema":{"$ref":"#/components/schemas/ServiceDefinitionAO"}}}},"200":{"description":"Service defined","content":{"application/vnd.steadybit.api.v1+json":{"schema":{"$ref":"#/components/schemas/ServiceDefinitionAO"}},"application/json":{"schema":{"$ref":"#/components/schemas/ServiceDefinitionAO"}},"application/vnd.steadybit.api.v1+x-yaml":{"schema":{"$ref":"#/components/schemas/ServiceDefinitionAO"}},"application/x-yaml":{"schema":{"$ref":"#/components/schemas/ServiceDefinitionAO"}}}}}},"delete":{"tags":["Service Definitions"],"summary":"delete service definition","operationId":"deleteServiceDefinition","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"404":{"description":"Not Found"},"200":{"description":"Service deleted"}}}},"/api/teams":{"get":{"tags":["Teams"],"summary":"list teams","operationId":"getTeams","parameters":[{"name":"onlyAccessible","in":"query","required":false,"schema":{"type":"boolean"}}],"responses":{"200":{"description":"OK","content":{"application/vnd.steadybit.api.v1+json":{"schema":{"$ref":"#/components/schemas/TeamSummariesAO"}},"application/json":{"schema":{"$ref":"#/components/schemas/TeamSummariesAO"}},"application/vnd.steadybit.api.v1+x-yaml":{"schema":{"$ref":"#/components/schemas/TeamSummariesAO"}},"application/x-yaml":{"schema":{"$ref":"#/components/schemas/TeamSummariesAO"}}}}}},"post":{"tags":["Teams"],"summary":"create/update team","operationId":"upsertTeam","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpsertTeamAO"}}},"required":true},"responses":{"422":{"description":"Validation error","content":{"application/vnd.steadybit.api.v1+json":{"schema":{"$ref":"#/components/schemas/TeamAO"}},"application/json":{"schema":{"$ref":"#/components/schemas/TeamAO"}},"application/vnd.steadybit.api.v1+x-yaml":{"schema":{"$ref":"#/components/schemas/TeamAO"}},"application/x-yaml":{"schema":{"$ref":"#/components/schemas/TeamAO"}}}},"201":{"description":"Team created","content":{"application/vnd.steadybit.api.v1+json":{"schema":{"$ref":"#/components/schemas/TeamAO"}},"application/json":{"schema":{"$ref":"#/components/schemas/TeamAO"}},"application/vnd.steadybit.api.v1+x-yaml":{"schema":{"$ref":"#/components/schemas/TeamAO"}},"application/x-yaml":{"schema":{"$ref":"#/components/schemas/TeamAO"}}}}}}},"/api/teams/{key}/members/remove":{"post":{"tags":["Teams"],"summary":"remove team members","operationId":"removeTeamMembers","parameters":[{"name":"key","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UsernamesAO"}}},"required":true},"responses":{"422":{"description":"Validation error","content":{"application/vnd.steadybit.api.v1+json":{"schema":{"$ref":"#/components/schemas/TeamMembersAO"}},"application/json":{"schema":{"$ref":"#/components/schemas/TeamMembersAO"}},"application/vnd.steadybit.api.v1+x-yaml":{"schema":{"$ref":"#/components/schemas/TeamMembersAO"}},"application/x-yaml":{"schema":{"$ref":"#/components/schemas/TeamMembersAO"}}}},"200":{"description":"Team members removed","content":{"application/vnd.steadybit.api.v1+json":{"schema":{"$ref":"#/components/schemas/TeamMembersAO"}},"application/json":{"schema":{"$ref":"#/components/schemas/TeamMembersAO"}},"application/vnd.steadybit.api.v1+x-yaml":{"schema":{"$ref":"#/components/schemas/TeamMembersAO"}},"application/x-yaml":{"schema":{"$ref":"#/components/schemas/TeamMembersAO"}}}}}}},"/api/teams/{key}/members/add":{"post":{"tags":["Teams"],"summary":"add team members","operationId":"addTeamMembers","parameters":[{"name":"key","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TeamMembersAO"}}},"required":true},"responses":{"200":{"description":"Team members added","content":{"application/vnd.steadybit.api.v1+json":{"schema":{"$ref":"#/components/schemas/TeamMembersAO"}},"application/json":{"schema":{"$ref":"#/components/schemas/TeamMembersAO"}},"application/vnd.steadybit.api.v1+x-yaml":{"schema":{"$ref":"#/components/schemas/TeamMembersAO"}},"application/x-yaml":{"schema":{"$ref":"#/components/schemas/TeamMembersAO"}}}},"422":{"description":"Validation error","content":{"application/vnd.steadybit.api.v1+json":{"schema":{"$ref":"#/components/schemas/TeamMembersAO"}},"application/json":{"schema":{"$ref":"#/components/schemas/TeamMembersAO"}},"application/vnd.steadybit.api.v1+x-yaml":{"schema":{"$ref":"#/components/schemas/TeamMembersAO"}},"application/x-yaml":{"schema":{"$ref":"#/components/schemas/TeamMembersAO"}}}}}}},"/api/service-states/{id}/task/{taskId}/execute":{"post":{"tags":["Service State"],"operationId":"executeTask","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"taskId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"application/vnd.steadybit.api.v1+json":{"schema":{"$ref":"#/components/schemas/TaskHistoryEntryAO"}},"application/json":{"schema":{"$ref":"#/components/schemas/TaskHistoryEntryAO"}},"application/vnd.steadybit.api.v1+x-yaml":{"schema":{"$ref":"#/components/schemas/TaskHistoryEntryAO"}},"application/x-yaml":{"schema":{"$ref":"#/components/schemas/TaskHistoryEntryAO"}}}}}}},"/api/service-definitions/by-mapping":{"post":{"tags":["Service Definitions"],"summary":"identify a service definition by mapping information","operationId":"getServiceDefinitionDeepLink","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/MappingAO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/vnd.steadybit.api.v1+json":{"schema":{"$ref":"#/components/schemas/ServiceDefinitionAO"}},"application/json":{"schema":{"$ref":"#/components/schemas/ServiceDefinitionAO"}},"application/vnd.steadybit.api.v1+x-yaml":{"schema":{"$ref":"#/components/schemas/ServiceDefinitionAO"}},"application/x-yaml":{"schema":{"$ref":"#/components/schemas/ServiceDefinitionAO"}}}},"404":{"description":"Not Found","content":{"application/vnd.steadybit.api.v1+json":{"schema":{"$ref":"#/components/schemas/ServiceDefinitionAO"}},"application/json":{"schema":{"$ref":"#/components/schemas/ServiceDefinitionAO"}},"application/vnd.steadybit.api.v1+x-yaml":{"schema":{"$ref":"#/components/schemas/ServiceDefinitionAO"}},"application/x-yaml":{"schema":{"$ref":"#/components/schemas/ServiceDefinitionAO"}}}}}}},"/api/killswitch":{"get":{"tags":["Killswitch"],"summary":"show killswitch status","operationId":"getKillswitch","responses":{"200":{"description":"OK","content":{"application/vnd.steadybit.api.v1+json":{"schema":{"$ref":"#/components/schemas/KillswitchAO"}},"application/json":{"schema":{"$ref":"#/components/schemas/KillswitchAO"}},"application/vnd.steadybit.api.v1+x-yaml":{"schema":{"$ref":"#/components/schemas/KillswitchAO"}},"application/x-yaml":{"schema":{"$ref":"#/components/schemas/KillswitchAO"}}}}}},"post":{"tags":["Killswitch"],"summary":"engage killswitch","operationId":"engageKillswitch","responses":{"200":{"description":"OK"}}},"delete":{"tags":["Killswitch"],"summary":"disengage killswitch","operationId":"disengageKillswitch","responses":{"200":{"description":"OK"}}}},"/api/experiments":{"get":{"tags":["Experiments"],"summary":"list experiments","operationId":"getExperiments","parameters":[{"name":"runnable","in":"query","description":"Include only experiments which are runnable by the authorized user?","required":false,"schema":{"type":"boolean"}},{"name":"name","in":"query","description":"Filter results by name and/or key of the experiment","required":false,"schema":{"type":"string"}},{"name":"includeDeleted","in":"query","description":"Include deleted experiments?","required":false,"schema":{"type":"boolean"}},{"name":"team","in":"query","description":"Filter results by one or more team-keys","required":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"key","in":"query","description":"Filter results by one or more experiments-keys","required":false,"schema":{"type":"array","items":{"type":"string"}}}],"responses":{"200":{"description":"OK","content":{"application/vnd.steadybit.api.v1+json":{"schema":{"$ref":"#/components/schemas/ExperimentSummariesAO"}},"application/json":{"schema":{"$ref":"#/components/schemas/ExperimentSummariesAO"}},"application/vnd.steadybit.api.v1+x-yaml":{"schema":{"$ref":"#/components/schemas/ExperimentSummariesAO"}},"application/x-yaml":{"schema":{"$ref":"#/components/schemas/ExperimentSummariesAO"}}}}}},"post":{"tags":["Experiments"],"summary":"create experiment","operationId":"createExperiment","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateExperimentAO"}}},"required":true},"responses":{"201":{"description":"Experiment created"},"422":{"description":"Validation error"}}}},"/api/experiments/{key}":{"get":{"tags":["Experiments"],"summary":"show experiment","operationId":"getExperiment","parameters":[{"name":"key","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/vnd.steadybit.api.v1+json":{"schema":{"$ref":"#/components/schemas/ExperimentAO"}},"application/json":{"schema":{"$ref":"#/components/schemas/ExperimentAO"}},"application/vnd.steadybit.api.v1+x-yaml":{"schema":{"$ref":"#/components/schemas/ExperimentAO"}},"application/x-yaml":{"schema":{"$ref":"#/components/schemas/ExperimentAO"}}}},"404":{"description":"Not Found","content":{"application/vnd.steadybit.api.v1+json":{"schema":{"$ref":"#/components/schemas/ExperimentAO"}},"application/json":{"schema":{"$ref":"#/components/schemas/ExperimentAO"}},"application/vnd.steadybit.api.v1+x-yaml":{"schema":{"$ref":"#/components/schemas/ExperimentAO"}},"application/x-yaml":{"schema":{"$ref":"#/components/schemas/ExperimentAO"}}}}}},"post":{"tags":["Experiments"],"summary":"update experiment","operationId":"updateExperiment","parameters":[{"name":"key","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateExperimentAO"}}},"required":true},"responses":{"422":{"description":"Validation error"},"404":{"description":"Experiment not found"},"200":{"description":"Experiment updated"}}},"delete":{"tags":["Experiments"],"summary":"delete experiment","operationId":"deleteExperiment","parameters":[{"name":"key","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Experiment deleted"},"404":{"description":"Not Found"}}}},"/api/experiments/{key}/execute":{"post":{"tags":["Experiments"],"summary":"execute experiment","operationId":"executeExperiment","parameters":[{"name":"key","in":"path","required":true,"schema":{"type":"string"}},{"name":"allowParallel","in":"query","required":false,"schema":{"type":"boolean"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExperimentOverridesAO"}}}},"responses":{"200":{"description":"OK"}}}},"/api/experiments/executions/{id}/cancel":{"post":{"tags":["Experiments"],"summary":"cancel experiment execution","operationId":"cancelExperimentExecution","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK"}}}},"/api/environments":{"get":{"tags":["Environments"],"summary":"list environments","operationId":"getAreas","responses":{"200":{"description":"OK","content":{"application/vnd.steadybit.api.v1+json":{"schema":{"$ref":"#/components/schemas/EnvironmentSummariesAO"}},"application/json":{"schema":{"$ref":"#/components/schemas/EnvironmentSummariesAO"}},"application/vnd.steadybit.api.v1+x-yaml":{"schema":{"$ref":"#/components/schemas/EnvironmentSummariesAO"}},"application/x-yaml":{"schema":{"$ref":"#/components/schemas/EnvironmentSummariesAO"}}}}}},"post":{"tags":["Environments"],"summary":"create/update environment","operationId":"upsertEnvironment","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpsertEnvironmentAO"}}},"required":true},"responses":{"422":{"description":"Validation error","content":{"application/vnd.steadybit.api.v1+json":{"schema":{"$ref":"#/components/schemas/EnvironmentAO"}},"application/json":{"schema":{"$ref":"#/components/schemas/EnvironmentAO"}},"application/vnd.steadybit.api.v1+x-yaml":{"schema":{"$ref":"#/components/schemas/EnvironmentAO"}},"application/x-yaml":{"schema":{"$ref":"#/components/schemas/EnvironmentAO"}}}},"201":{"description":"Environment created","content":{"application/vnd.steadybit.api.v1+json":{"schema":{"$ref":"#/components/schemas/EnvironmentAO"}},"application/json":{"schema":{"$ref":"#/components/schemas/EnvironmentAO"}},"application/vnd.steadybit.api.v1+x-yaml":{"schema":{"$ref":"#/components/schemas/EnvironmentAO"}},"application/x-yaml":{"schema":{"$ref":"#/components/schemas/EnvironmentAO"}}}}}}},"/api/teams/{key}":{"get":{"tags":["Teams"],"summary":"show team","operationId":"getTeam","parameters":[{"name":"key","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/vnd.steadybit.api.v1+json":{"schema":{"$ref":"#/components/schemas/TeamAO"}},"application/json":{"schema":{"$ref":"#/components/schemas/TeamAO"}},"application/vnd.steadybit.api.v1+x-yaml":{"schema":{"$ref":"#/components/schemas/TeamAO"}},"application/x-yaml":{"schema":{"$ref":"#/components/schemas/TeamAO"}}}},"404":{"description":"Not Found","content":{"application/vnd.steadybit.api.v1+json":{"schema":{"$ref":"#/components/schemas/TeamAO"}},"application/json":{"schema":{"$ref":"#/components/schemas/TeamAO"}},"application/vnd.steadybit.api.v1+x-yaml":{"schema":{"$ref":"#/components/schemas/TeamAO"}},"application/x-yaml":{"schema":{"$ref":"#/components/schemas/TeamAO"}}}}}},"delete":{"tags":["Teams"],"summary":"delete team","operationId":"deleteTeam","parameters":[{"name":"key","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Experiment deleted","content":{"application/vnd.steadybit.api.v1+json":{"schema":{"$ref":"#/components/schemas/TeamAO"}},"application/json":{"schema":{"$ref":"#/components/schemas/TeamAO"}},"application/vnd.steadybit.api.v1+x-yaml":{"schema":{"$ref":"#/components/schemas/TeamAO"}},"application/x-yaml":{"schema":{"$ref":"#/components/schemas/TeamAO"}}}},"404":{"description":"Not Found","content":{"application/vnd.steadybit.api.v1+json":{"schema":{"$ref":"#/components/schemas/TeamAO"}},"application/json":{"schema":{"$ref":"#/components/schemas/TeamAO"}},"application/vnd.steadybit.api.v1+x-yaml":{"schema":{"$ref":"#/components/schemas/TeamAO"}},"application/x-yaml":{"schema":{"$ref":"#/components/schemas/TeamAO"}}}}}}},"/api/task-definitions":{"get":{"tags":["Task Definitions"],"summary":"get task definition","operationId":"getTaskDefinition","parameters":[{"name":"name","in":"query","required":true,"schema":{"type":"string"}},{"name":"version","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/vnd.steadybit.api.v1+json":{"schema":{"$ref":"#/components/schemas/MonoTaskDefinitionAO"}},"application/json":{"schema":{"$ref":"#/components/schemas/MonoTaskDefinitionAO"}},"application/vnd.steadybit.api.v1+x-yaml":{"schema":{"$ref":"#/components/schemas/MonoTaskDefinitionAO"}},"application/x-yaml":{"schema":{"$ref":"#/components/schemas/MonoTaskDefinitionAO"}}}},"404":{"description":"Not Found","content":{"application/vnd.steadybit.api.v1+json":{"schema":{"$ref":"#/components/schemas/MonoTaskDefinitionAO"}},"application/json":{"schema":{"$ref":"#/components/schemas/MonoTaskDefinitionAO"}},"application/vnd.steadybit.api.v1+x-yaml":{"schema":{"$ref":"#/components/schemas/MonoTaskDefinitionAO"}},"application/x-yaml":{"schema":{"$ref":"#/components/schemas/MonoTaskDefinitionAO"}}}}}}},"/api/service-states/{id}":{"get":{"tags":["Service State"],"summary":"get information about the state of the defined service","operationId":"getServiceState","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"application/vnd.steadybit.api.v1+json":{"schema":{"$ref":"#/components/schemas/ServiceStateAO"}},"application/json":{"schema":{"$ref":"#/components/schemas/ServiceStateAO"}},"application/vnd.steadybit.api.v1+x-yaml":{"schema":{"$ref":"#/components/schemas/ServiceStateAO"}},"application/x-yaml":{"schema":{"$ref":"#/components/schemas/ServiceStateAO"}}}},"404":{"description":"Service not found","content":{"application/vnd.steadybit.api.v1+json":{"schema":{"$ref":"#/components/schemas/ServiceStateAO"}},"application/json":{"schema":{"$ref":"#/components/schemas/ServiceStateAO"}},"application/vnd.steadybit.api.v1+x-yaml":{"schema":{"$ref":"#/components/schemas/ServiceStateAO"}},"application/x-yaml":{"schema":{"$ref":"#/components/schemas/ServiceStateAO"}}}}}}},"/api/service-states/{id}/task/{taskId}/execute/wait":{"get":{"tags":["Service State"],"operationId":"executeTaskAndWaitForCompletion","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"taskId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"text/event-stream":{"schema":{"$ref":"#/components/schemas/FluxServerSentEventTaskHistoryEntryAO"}}}}}}},"/api/service-definitions":{"get":{"tags":["Service Definitions"],"summary":"list services","operationId":"getServiceDefinitions","responses":{"200":{"description":"OK","content":{"application/vnd.steadybit.api.v1+json":{"schema":{"$ref":"#/components/schemas/ServiceDefinitionSummariesAO"}},"application/json":{"schema":{"$ref":"#/components/schemas/ServiceDefinitionSummariesAO"}},"application/vnd.steadybit.api.v1+x-yaml":{"schema":{"$ref":"#/components/schemas/ServiceDefinitionSummariesAO"}},"application/x-yaml":{"schema":{"$ref":"#/components/schemas/ServiceDefinitionSummariesAO"}}}}}}},"/api/service-definitions/{id}/deep-link":{"get":{"tags":["Service Definitions"],"summary":"get a UI deep link to the service definition","operationId":"getServiceDefinitionDeepLink_1","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"application/vnd.steadybit.api.v1+json":{"schema":{"$ref":"#/components/schemas/ServiceDefinitionAO"}},"application/json":{"schema":{"$ref":"#/components/schemas/ServiceDefinitionAO"}},"application/vnd.steadybit.api.v1+x-yaml":{"schema":{"$ref":"#/components/schemas/ServiceDefinitionAO"}},"application/x-yaml":{"schema":{"$ref":"#/components/schemas/ServiceDefinitionAO"}}}},"404":{"description":"Not Found","content":{"application/vnd.steadybit.api.v1+json":{"schema":{"$ref":"#/components/schemas/ServiceDefinitionAO"}},"application/json":{"schema":{"$ref":"#/components/schemas/ServiceDefinitionAO"}},"application/vnd.steadybit.api.v1+x-yaml":{"schema":{"$ref":"#/components/schemas/ServiceDefinitionAO"}},"application/x-yaml":{"schema":{"$ref":"#/components/schemas/ServiceDefinitionAO"}}}}}}},"/api/policy-definitions":{"get":{"tags":["Policy Definitions"],"summary":"get policy definition","operationId":"getPolicyDefinition","parameters":[{"name":"name","in":"query","required":true,"schema":{"type":"string"}},{"name":"version","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/vnd.steadybit.api.v1+json":{"schema":{"$ref":"#/components/schemas/MonoPolicyDefinitionAO"}},"application/json":{"schema":{"$ref":"#/components/schemas/MonoPolicyDefinitionAO"}},"application/vnd.steadybit.api.v1+x-yaml":{"schema":{"$ref":"#/components/schemas/MonoPolicyDefinitionAO"}},"application/x-yaml":{"schema":{"$ref":"#/components/schemas/MonoPolicyDefinitionAO"}}}},"404":{"description":"Not Found","content":{"application/vnd.steadybit.api.v1+json":{"schema":{"$ref":"#/components/schemas/MonoPolicyDefinitionAO"}},"application/json":{"schema":{"$ref":"#/components/schemas/MonoPolicyDefinitionAO"}},"application/vnd.steadybit.api.v1+x-yaml":{"schema":{"$ref":"#/components/schemas/MonoPolicyDefinitionAO"}},"application/x-yaml":{"schema":{"$ref":"#/components/schemas/MonoPolicyDefinitionAO"}}}}}}},"/api/experiments/{key}/executions":{"get":{"tags":["Experiments"],"summary":"list executions for a specific experiment","operationId":"getExperimentExecutions","parameters":[{"name":"key","in":"path","required":true,"schema":{"type":"string"}},{"name":"state","in":"query","description":"Filter results by one or more states","required":false,"schema":{"uniqueItems":true,"type":"array","items":{"type":"string","enum":["CREATED","PREPARED","RUNNING","FAILED","CANCELED","COMPLETED"]}}}],"responses":{"200":{"description":"OK","content":{"application/vnd.steadybit.api.v1+json":{"schema":{"$ref":"#/components/schemas/ExperimentExecutionSummariesAO"}},"application/json":{"schema":{"$ref":"#/components/schemas/ExperimentExecutionSummariesAO"}},"application/vnd.steadybit.api.v1+x-yaml":{"schema":{"$ref":"#/components/schemas/ExperimentExecutionSummariesAO"}},"application/x-yaml":{"schema":{"$ref":"#/components/schemas/ExperimentExecutionSummariesAO"}}}}}}},"/api/experiments/executions":{"get":{"tags":["Experiments"],"summary":"list executions","operationId":"getExperimentExecutions_1","parameters":[{"name":"name","in":"query","description":"Filter results by name and/or key of the experiment","required":false,"schema":{"type":"string"}},{"name":"team","in":"query","description":"Filter results by one or more team-keys","required":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"state","in":"query","description":"Filter results by one or more states","required":false,"schema":{"uniqueItems":true,"type":"array","items":{"type":"string","enum":["CREATED","PREPARED","RUNNING","FAILED","CANCELED","COMPLETED"]}}}],"responses":{"200":{"description":"OK","content":{"application/vnd.steadybit.api.v1+json":{"schema":{"$ref":"#/components/schemas/ExperimentExecutionSummariesAO"}},"application/json":{"schema":{"$ref":"#/components/schemas/ExperimentExecutionSummariesAO"}},"application/vnd.steadybit.api.v1+x-yaml":{"schema":{"$ref":"#/components/schemas/ExperimentExecutionSummariesAO"}},"application/x-yaml":{"schema":{"$ref":"#/components/schemas/ExperimentExecutionSummariesAO"}}}}}}},"/api/experiments/executions/{id}":{"get":{"tags":["Experiments"],"summary":"show experiment execution","operationId":"getExperimentExecution","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"application/vnd.steadybit.api.v1+json":{"schema":{"$ref":"#/components/schemas/ExperimentExecutionAO"}},"application/json":{"schema":{"$ref":"#/components/schemas/ExperimentExecutionAO"}},"application/vnd.steadybit.api.v1+x-yaml":{"schema":{"$ref":"#/components/schemas/ExperimentExecutionAO"}},"application/x-yaml":{"schema":{"$ref":"#/components/schemas/ExperimentExecutionAO"}}}}}},"delete":{"tags":["Experiments"],"summary":"delete experiment execution","operationId":"deleteExperimentExecution","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK"}}}},"/api/environments/{id}":{"get":{"tags":["Environments"],"summary":"show environment","operationId":"getArea","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"400":{"description":"The given id is not a uuid","content":{"application/vnd.steadybit.api.v1+json":{"schema":{"$ref":"#/components/schemas/EnvironmentAO"}},"application/json":{"schema":{"$ref":"#/components/schemas/EnvironmentAO"}},"application/vnd.steadybit.api.v1+x-yaml":{"schema":{"$ref":"#/components/schemas/EnvironmentAO"}},"application/x-yaml":{"schema":{"$ref":"#/components/schemas/EnvironmentAO"}}}},"200":{"description":"OK","content":{"application/vnd.steadybit.api.v1+json":{"schema":{"$ref":"#/components/schemas/EnvironmentAO"}},"application/json":{"schema":{"$ref":"#/components/schemas/EnvironmentAO"}},"application/vnd.steadybit.api.v1+x-yaml":{"schema":{"$ref":"#/components/schemas/EnvironmentAO"}},"application/x-yaml":{"schema":{"$ref":"#/components/schemas/EnvironmentAO"}}}},"404":{"description":"Not Found","content":{"application/vnd.steadybit.api.v1+json":{"schema":{"$ref":"#/components/schemas/EnvironmentAO"}},"application/json":{"schema":{"$ref":"#/components/schemas/EnvironmentAO"}},"application/vnd.steadybit.api.v1+x-yaml":{"schema":{"$ref":"#/components/schemas/EnvironmentAO"}},"application/x-yaml":{"schema":{"$ref":"#/components/schemas/EnvironmentAO"}}}}}},"delete":{"tags":["Environments"],"summary":"delete environment","operationId":"deleteEnvironment","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Environment deleted"},"404":{"description":"Not Found"}}}},"/api/audit-log":{"get":{"tags":["Audit Log"],"summary":"get audit log entries","operationId":"find","parameters":[{"name":"from","in":"query","required":false,"schema":{"type":"string","format":"date-time"}},{"name":"to","in":"query","required":false,"schema":{"type":"string","format":"date-time"}}],"responses":{"200":{"description":"OK"}}}}},"components":{"schemas":{"MemberAO":{"required":["role","username"],"type":"object","properties":{"username":{"maxLength":255,"minLength":0,"type":"string"},"role":{"type":"string","enum":["MEMBER","OWNER"]}}},"TeamMembersAO":{"required":["members"],"type":"object","properties":{"members":{"maxItems":512,"minItems":0,"type":"array","items":{"$ref":"#/components/schemas/MemberAO"}}}},"ForEachAO":{"required":["define","iterables"],"type":"object","properties":{"iterables":{"maxItems":4,"minItems":0,"uniqueItems":true,"type":"array","items":{"type":"string","enum":["dependency","container","outgoing_http_call"]}},"define":{"type":"object","additionalProperties":{"type":"object"}}}},"KubernetesMappingAO":{"required":["cluster","deployment","namespace"],"type":"object","properties":{"cluster":{"maxLength":256,"minLength":0,"type":"string"},"namespace":{"maxLength":256,"minLength":0,"type":"string"},"deployment":{"maxLength":256,"minLength":0,"type":"string"}}},"MappingAO":{"required":["kubernetes"],"type":"object","properties":{"kubernetes":{"$ref":"#/components/schemas/KubernetesMappingAO"}}},"PolicyReferenceAO":{"required":["name","parameters","version"],"type":"object","properties":{"name":{"maxLength":256,"minLength":0,"type":"string"},"version":{"maxLength":256,"minLength":0,"type":"string"},"parameters":{"type":"object","additionalProperties":{"type":"object"}}}},"ServiceDefinitionAO":{"required":["mapping","name","parameters","policies","tags","tasks"],"type":"object","properties":{"id":{"type":"string","format":"uuid"},"name":{"maxLength":256,"minLength":0,"type":"string"},"tasks":{"maxItems":512,"minItems":0,"uniqueItems":true,"type":"array","items":{"$ref":"#/components/schemas/TaskReferenceAO"}},"policies":{"maxItems":512,"minItems":0,"uniqueItems":true,"type":"array","items":{"$ref":"#/components/schemas/PolicyReferenceAO"}},"mapping":{"$ref":"#/components/schemas/MappingAO"},"tags":{"type":"object","additionalProperties":{"type":"string"}},"parameters":{"type":"object","additionalProperties":{"type":"object"}}}},"TaskReferenceAO":{"required":["forEach","name","parameters","version"],"type":"object","properties":{"name":{"maxLength":256,"minLength":0,"type":"string"},"version":{"maxLength":256,"minLength":0,"type":"string"},"parameters":{"type":"object","additionalProperties":{"type":"object"}},"forEach":{"$ref":"#/components/schemas/ForEachAO"}}},"UpsertTeamAO":{"required":["allowedAreas","allowedAttacks","key","name"],"type":"object","properties":{"key":{"maxLength":8,"minLength":0,"type":"string"},"name":{"maxLength":255,"minLength":0,"type":"string"},"description":{"maxLength":2000,"minLength":0,"type":"string"},"logoId":{"maxLength":64,"minLength":0,"type":"string"},"logoColor":{"maxLength":64,"minLength":0,"type":"string"},"allowedAttacks":{"maxItems":512,"minItems":0,"uniqueItems":true,"type":"array","items":{"type":"string"}},"allowedAreas":{"maxItems":512,"minItems":0,"uniqueItems":true,"type":"array","description":"The names of the allowed areas (Example: GLOBAL)","items":{"type":"string","description":"The names of the allowed areas (Example: GLOBAL)"}},"version":{"minimum":0,"type":"integer","format":"int32"}}},"TeamAO":{"required":["allowedAreas","allowedAttacks","key","members","name"],"type":"object","properties":{"key":{"maxLength":8,"minLength":0,"type":"string"},"name":{"maxLength":255,"minLength":0,"type":"string"},"description":{"maxLength":2000,"minLength":0,"type":"string"},"logoId":{"maxLength":64,"minLength":0,"type":"string"},"logoColor":{"maxLength":64,"minLength":0,"type":"string"},"allowedAttacks":{"maxItems":512,"minItems":0,"uniqueItems":true,"type":"array","items":{"type":"string"}},"allowedAreas":{"maxItems":512,"minItems":0,"uniqueItems":true,"type":"array","description":"The names of the allowed areas (Example: GLOBAL)","items":{"type":"string","description":"The names of the allowed areas (Example: GLOBAL)"}},"members":{"maxItems":512,"minItems":0,"uniqueItems":true,"type":"array","items":{"$ref":"#/components/schemas/MemberAO"}}}},"UsernamesAO":{"required":["usernames"],"type":"object","properties":{"usernames":{"maxItems":512,"minItems":0,"uniqueItems":true,"type":"array","items":{"type":"string"}}}},"TaskHistoryEntryAO":{"required":["meta","type"],"type":"object","properties":{"date":{"type":"string","format":"date-time"},"type":{"type":"string"},"meta":{"type":"object","additionalProperties":{"type":"object"}}}},"BaseExperimentStepAO":{"required":["type"],"type":"object","properties":{"ignoreFailure":{"type":"boolean"},"parameters":{"type":"object","additionalProperties":{"type":"object"}},"customLabel":{"type":"string"},"type":{"type":"string"}},"discriminator":{"propertyName":"type"}},"CreateExperimentAO":{"required":["lanes","name","team"],"type":"object","properties":{"name":{"maxLength":255,"minLength":0,"type":"string"},"team":{"type":"string","description":"The key of the team to be used (Example: ADM)"},"hypothesis":{"maxLength":20000,"minLength":0,"type":"string"},"area":{"maxLength":255,"minLength":0,"type":"string","description":"The name of the area to be used (Example: GLOBAL)","deprecated":true},"environment":{"maxLength":255,"minLength":0,"type":"string","description":"The name of the environment to be used (Example: GLOBAL)"},"lanes":{"maxItems":2147483647,"minItems":1,"type":"array","items":{"$ref":"#/components/schemas/ExperimentLaneAO"}}}},"ExperimentLaneAO":{"required":["steps"],"type":"object","properties":{"steps":{"maxItems":2147483647,"minItems":1,"type":"array","items":{"oneOf":[{"$ref":"#/components/schemas/ExperimentStepActionAO"},{"$ref":"#/components/schemas/ExperimentStepAttackAO"},{"$ref":"#/components/schemas/ExperimentStepWaitAO"}]}}}},"ExperimentStepActionAO":{"required":["actionType"],"type":"object","allOf":[{"$ref":"#/components/schemas/BaseExperimentStepAO"},{"type":"object","properties":{"actionType":{"type":"string"}}}]},"ExperimentStepAttackAO":{"required":["attackType"],"type":"object","allOf":[{"$ref":"#/components/schemas/BaseExperimentStepAO"},{"type":"object","properties":{"attackType":{"type":"string"},"radius":{"$ref":"#/components/schemas/ExperimentStepAttackRadiusAO"}}}]},"ExperimentStepAttackRadiusAO":{"required":["targetType"],"type":"object","properties":{"targetType":{"type":"string","enum":["host","container","kubernetes-deployment","application"]},"query":{"$ref":"#/components/schemas/TargetPredicateAO"},"list":{"type":"array","items":{"type":"string"}},"percentage":{"maximum":100,"minimum":0,"type":"integer","format":"int32"},"maximum":{"minimum":0,"type":"integer","format":"int32"}}},"ExperimentStepWaitAO":{"type":"object","allOf":[{"$ref":"#/components/schemas/BaseExperimentStepAO"}]},"TargetAttributeKeyValuePredicateAO":{"required":["key","operator","values"],"type":"object","allOf":[{"$ref":"#/components/schemas/TargetPredicateAO"},{"type":"object","properties":{"key":{"type":"string"},"operator":{"type":"string"},"values":{"type":"array","items":{"type":"string"}}}}]},"TargetCompositePredicateAO":{"required":["operator","predicates"],"type":"object","allOf":[{"$ref":"#/components/schemas/TargetPredicateAO"},{"type":"object","properties":{"operator":{"type":"string"},"predicates":{"type":"array","items":{"$ref":"#/components/schemas/TargetPredicateAO"}}}}]},"TargetPredicateAO":{"type":"object","oneOf":[{"$ref":"#/components/schemas/TargetTypePredicateAO"},{"$ref":"#/components/schemas/TargetCompositePredicateAO"},{"$ref":"#/components/schemas/TargetAttributeKeyValuePredicateAO"}]},"TargetTypePredicateAO":{"required":["type"],"type":"object","allOf":[{"$ref":"#/components/schemas/TargetPredicateAO"},{"type":"object","properties":{"type":{"type":"string","enum":["host","container","kubernetes-deployment","application"]}}}]},"UpdateExperimentAO":{"required":["lanes","name","team"],"type":"object","properties":{"name":{"maxLength":255,"minLength":0,"type":"string"},"team":{"type":"string","description":"The key of the team to be used (Example: ADM)"},"hypothesis":{"maxLength":20000,"minLength":0,"type":"string"},"area":{"maxLength":255,"minLength":0,"type":"string","description":"The name of the area to be used (Example: GLOBAL)","deprecated":true},"environment":{"maxLength":255,"minLength":0,"type":"string","description":"The name of the environment to be used (Example: GLOBAL)"},"lanes":{"maxItems":2147483647,"minItems":1,"type":"array","items":{"$ref":"#/components/schemas/ExperimentLaneAO"}}}},"ExperimentOverridesAO":{"type":"object","properties":{"area":{"type":"string","deprecated":true},"environment":{"type":"string"},"variables":{"type":"object","additionalProperties":{"type":"string"}}}},"UpsertEnvironmentAO":{"required":["name","predicate"],"type":"object","properties":{"version":{"minimum":0,"type":"integer","format":"int32"},"teamIds":{"maxItems":128,"minItems":0,"uniqueItems":true,"type":"array","items":{"type":"string","format":"uuid"}},"name":{"maxLength":255,"minLength":0,"type":"string"},"predicate":{"oneOf":[{"$ref":"#/components/schemas/TargetAttributeKeyValuePredicateAO"},{"$ref":"#/components/schemas/TargetCompositePredicateAO"},{"$ref":"#/components/schemas/TargetTypePredicateAO"}]}}},"EnvironmentAO":{"required":["name","predicate"],"type":"object","properties":{"name":{"maxLength":255,"minLength":0,"type":"string"},"predicate":{"oneOf":[{"$ref":"#/components/schemas/TargetAttributeKeyValuePredicateAO"},{"$ref":"#/components/schemas/TargetCompositePredicateAO"},{"$ref":"#/components/schemas/TargetTypePredicateAO"}]}}},"TeamSummariesAO":{"type":"object","properties":{"teams":{"type":"array","items":{"$ref":"#/components/schemas/TeamAO"}}}},"MonoTaskDefinitionAO":{"type":"object"},"ReferenceCoordinateAO":{"required":["name","version"],"type":"object","properties":{"name":{"maxLength":256,"minLength":0,"type":"string"},"version":{"maxLength":256,"minLength":0,"type":"string"}}},"ServiceStateAO":{"required":["definitionId","id","tasks"],"type":"object","properties":{"id":{"type":"string","format":"uuid"},"definitionId":{"type":"string","format":"uuid"},"tasks":{"type":"array","items":{"$ref":"#/components/schemas/TaskAO"}}}},"TaskAO":{"required":["definition","history","id","matrixContext","parameters","state","type"],"type":"object","properties":{"type":{"maxLength":128,"minLength":0,"type":"string"},"id":{"type":"string","format":"uuid"},"definition":{"$ref":"#/components/schemas/ReferenceCoordinateAO"},"state":{"type":"string","enum":["PENDING","SUCCESS","FAILURE"]},"history":{"type":"array","items":{"$ref":"#/components/schemas/TaskHistoryEntryAO"}},"parameters":{"type":"object","additionalProperties":{"type":"object"}},"matrixContext":{"type":"object","additionalProperties":{"type":"object","additionalProperties":{"type":"string"}}}}},"FluxServerSentEventTaskHistoryEntryAO":{"type":"object","properties":{"prefetch":{"type":"integer","format":"int32"}}},"ServiceDefinitionSummariesAO":{"required":["services"],"type":"object","properties":{"services":{"type":"array","items":{"$ref":"#/components/schemas/ServiceDefinitionSummaryAO"}}}},"ServiceDefinitionSummaryAO":{"required":["id","name"],"type":"object","properties":{"id":{"type":"string","format":"uuid"},"name":{"maxLength":256,"minLength":0,"type":"string"}}},"MonoPolicyDefinitionAO":{"type":"object"},"KillswitchAO":{"type":"object","properties":{"active":{"type":"boolean"},"engagedBy":{"type":"string"},"engaged":{"type":"string","format":"date-time"}}},"ExperimentSummariesAO":{"type":"object","properties":{"experiments":{"type":"array","items":{"$ref":"#/components/schemas/ExperimentSummaryAO"}}}},"ExperimentSummaryAO":{"type":"object","properties":{"key":{"type":"string"},"name":{"type":"string"}}},"ExperimentAO":{"required":["key","lanes","name","team"],"type":"object","properties":{"name":{"maxLength":255,"minLength":0,"type":"string"},"team":{"type":"string"},"hypothesis":{"maxLength":20000,"minLength":0,"type":"string"},"area":{"maxLength":255,"minLength":0,"type":"string","description":"The name of the area to be used (Example: GLOBAL)","deprecated":true},"environment":{"maxLength":255,"minLength":0,"type":"string","description":"The name of the environment to be used (Example: GLOBAL)"},"lanes":{"maxItems":2147483647,"minItems":1,"type":"array","items":{"$ref":"#/components/schemas/ExperimentLaneAO"}},"key":{"type":"string"}}},"ExperimentExecutionSummariesAO":{"type":"object","properties":{"executions":{"type":"array","items":{"$ref":"#/components/schemas/ExperimentExecutionSummaryAO"}}}},"ExperimentExecutionSummaryAO":{"type":"object","properties":{"id":{"type":"integer","format":"int32"},"key":{"type":"string"},"name":{"type":"string"},"created":{"type":"string","format":"date-time"},"ended":{"type":"string","format":"date-time"},"state":{"type":"string"}}},"ExperimentExecutionAO":{"type":"object","properties":{"id":{"type":"integer","format":"int32"},"key":{"type":"string"},"name":{"type":"string"},"hypothesis":{"type":"string"},"created":{"type":"string","format":"date-time"},"ended":{"type":"string","format":"date-time"},"state":{"type":"string"},"failureReason":{"type":"string"}}},"EnvironmentSummariesAO":{"type":"object","properties":{"environments":{"type":"array","items":{"$ref":"#/components/schemas/EnvironmentAO"}}}}},"securitySchemes":{"AccessToken":{"type":"apiKey","description":"Header Format: ``` accessToken XXXXXX.XXXXXXXXXXXXXXXXXXXXXXXX ```","name":"Authorization","in":"header"}}}}