/*
 * Copyright 2020 chaosmesh GmbH. All rights reserved.
 */

@import "~inter-ui/inter.css";

html, body, input, textarea, button {
  font-family: 'Inter', sans-serif;
}

@supports (font-variation-settings: normal) {
  html, body, input, textarea, button {
    font-family: 'Inter var', sans-serif;
  }
}

html, body {
  font-size: 18px;
  line-height: 1.8;
  color: rgb(59, 69, 78);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  transition: color 0.15s;
  color: #2A81A6;
}

a .headerTitle {
  color: #1D2D3A;
}

a:hover .headerTitle {
  text-decoration: none;
  opacity: 0.8;
}

pre {
  background-color: #F6F7F8;
}

.mainWrapper ul, .mainWrapper ol {
  margin: 24px 0;
  padding: 0 0 0 40px;
}

.mainWrapper ul li, .mainWrapper ol li {
  font-size: 16px;
  line-height: 1.8;
  font-weight: 400;
}

.titleWrapper {
  display: flex;
  align-items: center;
  border-bottom: 0 solid rgb(230, 236, 241);
  margin-bottom: 32px;
}

.title {
  font-size: 32px;
  line-height: 1.5;
  font-weight: 500;
  padding: 0;
  flex: 1;
  margin-top: 0;
}

table {
  padding: 0;
  width: 100%;
}

table tr {
  border-top: 1px solid #F1F2F4;
  background-color: white;
  margin: 0;
  padding: 0;
}

table tr th {
  font-weight: bold;
  border: 1px solid #F1F2F4;
  text-align: left;
  margin: 0;
  padding: 6px 13px;
}

table tr td {
  border: 1px solid #F1F2F4;
  text-align: left;
  margin: 0;
  padding: 6px 13px;
}

table tr th :first-child, table tr td :first-child {
  margin-top: 0;
}

table tr th :last-child, table tr td :last-child {
  margin-bottom: 0;
}

img {
  max-width: 100%;
}

@media (max-width: 767px) {
  hr {
    margin-top: 0;
    margin-bottom: 0;
  }

  .titleWrapper {
    padding: 0 15px;
    display: block;
  }

  .mainWrapper {
    padding: 0 15px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .hitWrapper {
    max-width: 500px;
  }

  .searchWrapper {
    padding-left: 0;
  }
}
