/*
 * Copyright 2022 steadybit GmbH. All rights reserved.
 */

.collapsible__trigger {
  cursor: pointer;
  padding: 2px;
}

.collapsible__trigger::before {
  display: inline-block;
  font-variant-numeric: tabular-nums;
  margin-right: 0.5rem;
  width: 1rem;
}

.collapsible__trigger--closed::before {
  content: '\25BA';
}

.collapsible__trigger--open::before {
  content: '\25BC';
}

.collapsible__content {
  padding: 0 2px;
  margin: 2px 0;
}
