/*
 * Copyright 2020 chaosmesh GmbH. All rights reserved.
 */
.sidebar {
  padding-left: 0;
  padding-right: 0;
  display: block;
  white-space: nowrap;
}

.sidebar__brand {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 32px 0;
}

@media (min-width: 767px) {
  .sidebar__brand {
    margin: 32px 40px;
  }
}

.sidebar__brand div {
  display: inline-block;
  color: #858B96;
  border-left: 1px solid #858B96;
  margin-left: 12px;
  padding-left: 12px;
}

.sidebar__brand img {
  height: 32px;
}

@media (min-width: 767px) {
  .sidebar {
    width: 344px;
    position: fixed;
    top: 0;
    bottom: 0;
    overflow: auto;
  }
}

.table-of-contents {
  display: none;
  margin: 40px 40px;
  border-bottom: 1px solid #858B96;
}

.table-of-contents.show {
  display: block;
}

.table-of-contents__toggle {
  border: 1px solid #858B96;
  height: 44px;
  margin-left: 8px;
  padding: 10px;
  background-color: transparent;
  border-radius: 4px;
}

@media (min-width: 767px) {
  .table-of-contents {
    display: block;
    border-bottom: none;
  }
  .table-of-contents__toggle {
    display: none;
  }
}

.table-of-contents .item {
  list-style-type: none;
  width: auto;
  margin-bottom: 8px;
  white-space: nowrap;
}

.table-of-contents .item > a {
  text-decoration: none;
  display: inline-block;
  width: 100%;
}

.table-of-contents .item.active > a,
.table-of-contents .item > a:hover {
  color: #ED220B !important;
}

.table-of-contents .item .parent {
  font-size: 22px;
  line-height: 1.45;
  list-style: none;
  margin-bottom: 32px;
}

.table-of-contents .item .parent > a {
  color: #1D2D3A;
}

.table-of-contents .item .parent > ul {
  margin-top: 8px;
}

.table-of-contents .item .child {
  font-size: 18px;
  line-height: 1.33;
  margin-left: 16px;
}

.table-of-contents .item .child > a {
  color: #858B96;
}
