/*
 * Copyright 2021 steadybit GmbH. All rights reserved.
 */
.sidebar {
  padding-left: 0;
  padding-right: 0;
  display: block;
  white-space: nowrap;

  background-image: linear-gradient(
    34.87deg,
    var(--steelblue) 0%,
    var(--neutral100) 100%
  );
}

.sidebar__brand {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px;
  background-color: #0f054c;
  background-image: linear-gradient(
    53.39deg,
    var(--slateGradientFrom) 0%,
    var(--slateGradientTo) 100%
  );
}

@media (min-width: 767px) {
  .sidebar__brand {
    padding: 32px;
  }
}

.sidebar__brand a {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.sidebar__brand div {
  display: inline-block;
  color: rgba(255, 255, 255, 0.5);
  font-size: 20px;
  margin-left: 12px;
}

.sidebar__brand img {
  height: 32px;
}

@media (min-width: 767px) {
  .sidebar {
    width: 280px;
    position: fixed;
    top: 0;
    bottom: 0;
    overflow: auto;
  }
}

.table-of-contents {
  display: none;
  margin: 32px;
  border-bottom: 1px solid transparent;
}

.table-of-contents.show {
  display: block;
}

.table-of-contents img {
  width: 16px;
  height: 16px;
}

.table-of-contents__toggle {
  border: 0 none;
  height: 44px;
  margin-left: 8px;
  padding: 10px;
  background-color: transparent;
  border-radius: 4px;
}

@media (min-width: 767px) {
  .table-of-contents {
    display: block;
    border-bottom: none;
  }

  .table-of-contents__toggle {
    display: none;
  }
}

.table-of-contents .item {
  list-style-type: none;
  width: auto;
  margin-bottom: 4px;
  white-space: nowrap;
}

.table-of-contents > .item {
  margin: 24px 0;
}

.table-of-contents .item > a {
  text-decoration: none;
  display: grid;
  grid-template-columns: auto 16px;
  align-items: center;
  width: 100%;
  font-size: 18px;
  font-weight: normal;
  color: var(--slateDark);
}

.table-of-contents .item ul a {
  font-size: 15px;
  font-weight: normal;
  color: var(--neutral700);
}

.table-of-contents .item.active > a,
.table-of-contents .item > a:hover {
  color: var(--coral);
}

.table-of-contents > .item ul {
  margin-top: 4px;
  margin-left: 8px;
}

.table-of-contents > .item .item {
  /* margin-left: 8px; */
}
