/*
 * Copyright 2020 chaosmesh GmbH. All rights reserved.
 */


.formElement {
  background-color: transparent;
  padding: 4px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.formElement:focus {
  outline: none;
  border: none;
}

.formElement svg path {
  fill: currentColor;
}

.searchInput {
  width: calc(100% - 26px);
  background-color: transparent !important;
  border-width: 0 !important;
  color: rgba(255, 255, 255, 0.5);
}

.searchInput:focus, .searchInput:visited, .searchInput:hover, .searchInput:focus-within {
  outline: none;
  border: 0;
}

.searchWrapper {
  padding-left: 0;
  padding-right: 20px;
  flex: 1;
  max-width: 600px;
  position: relative;
}

.searchWrapper a {
  font-weight: 500;
}

.hitWrapper {
  display: none;
  max-height: 80vh;
  overflow: scroll;
  z-index: 2;
  -webkit-overflow-scrolling: touch;
  position: absolute;
  left: 0;
  right: 0;
  top: calc(100% + 0.5em);
  width: 80vw;
  height: auto;
  max-width: 30em;
  box-shadow: 0 0 5px 0;
  padding: 0.7em 1em 0.4em;
  background: white;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.hitWrapper.showResults {
  display: block;
}

.hitWrapper.hideResults {
  display: none;
}

.hitWrapper span {
  color: #1D2D3A;
  font-size: 14px;
}

@media (max-width: 767px) {
  .searchWrapper {
    padding: 20px 0 10px;
  }

  .hitWrapper {
    width: 100%;
    right: 0;
    top: 35px;
    max-height: fit-content;
    position: static;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .hitWrapper {
    max-width: 500px;
  }

  .searchWrapper {
    padding-left: 0;
  }
}

.hitWrappper > * + * {
  padding-top: 1em !important;
  border-top: 2px solid darkgray;
}
.hitWrappper li + li {
  margin-top: 0.7em;
  padding-top: 0.7em;
  border-top: 1px solid lightgray;
}
.hitWrappper * {
  margin-top: 0;
  padding: 0;
  color: black !important;
}
.hitWrappper ul {
  list-style: none;
}
.hitWrappper mark {
  color: lightblue;
  background: darkblue;
}
.hitWrappper header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.3em;
}
.hitWrappper header h3 {
  color: black;
  background: gray;
  padding: 0.1em 0.4em;
  border-radius: 4px;
}
.hitWrappper h3 {
  color: black;
  margin: 0 0 0.5em;
}
.hitWrappper h4 {
  color: black;
  margin-bottom: 0.3em;
}

.ais-InstantSearch__root {
  position: relative;
  display: grid;
  grid-gap: 1em;
}
